/PrimerEjemplo/nbproject/private/
/PrimerEjemplo/build/
/PrimerEjemplo004/nbproject/private/
/PrimerEjemplo004/build/
/EjercicioGiftCard/nbproject/private/
/EjercicioGiftCard/build/
/Coleccion004/nbproject/private/
/Coleccion004/build/
/Colecciones004/nbproject/private/
/Colecciones004/build/
/Scootin004/nbproject/private/
/Scootin004/build/
/Scootin004/dist/
/Herencia004/nbproject/private/
/Herencia004/build/
/Herencia004P2/nbproject/private/
/Herencia004P2/build/
